@model WebSiteBanHang.Models.NhaCungCap

@{
    ViewBag.Title = "Xóa Nhà Cung Cấp";
    Layout = "~/Areas/Admin/Views/LayoutAdmin/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <h3 style="padding-left:1rem" class="box-title">
                Xóa Nhà Cung Cấp
            </h3>
            <div class="box-header">
                <h3 class="box-title">
                    Bạn có Chắc muốn xóa nhà cung cấp này ?
                </h3>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.TenNCC)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TenNCC)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.DiaChi)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.DiaChi)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Email)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.SoDienThoai)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.SoDienThoai)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.Fax)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fax)
                        </dd>

                    </dl>
                    <div class="box-footer clearfix">
                        @using (Html.BeginForm("Delete", "NhaCungCap", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-danger" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
