@using WebSiteBanHang.Models
@using PagedList.Mvc
@model PagedList.IPagedList<LoaiSanPham>

@{
    ViewBag.Title = "Loại Sản Phẩm";
    Layout = "~/Areas/Admin/Views/LayoutAdmin/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="box-title">
           Loại Sản Phẩm
        </h3>
    </div>
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal2">
                            Thêm Loại Sản Phẩm
                        </button>
                    </h3>
                    <div class="box-tools">
                        @using (Html.BeginForm("Index", "LoaiSanPhams", FormMethod.Get, new { role = "search", id = "search-form" }))
                        {
                            <div class="input-group input-group-md" style="width: 200px;">
                                <input type="text" name="SearchTerm" value="@ViewBag.SearchTerm" class="form-control pull-right" placeholder="Search" id="Search">
                                <div class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">

                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tên Loại</th>
                                <th>Icon</th>
                                <th>Bí Danh</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="Search">
                                    <td>@item.MaLoaiSP</td>
                                    <td>@item.TenLoai</td>
                                    <td>@item.Icon</td>
                                    <td>@item.BiDanh</td>
                                    <td>
                                        <a href="@Url.Action("Details","LoaiSanPhams",new{@id = item.MaLoaiSP})" class="btn btn-app btn-primary">
                                            <i class="fa fa-eye-slash"></i>
                                        </a>
                                        <a href="@Url.Action("Edit","LoaiSanPhams",new{@id = item.MaLoaiSP})" class="btn btn-app btn-primary">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="@Url.Action("Delete","LoaiSanPhams",new{@id = item.MaLoaiSP})" class="btn btn-app btn-danger">
                                            <i class="fa fa-trash-o"></i>
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
                </div>
            </div>
            <!-- /.box -->
        </div>
        @Html.Action("Create", "LoaiSanPhams")
    </div>
