@using WebSiteBanHang.Models
@model IEnumerable<SanPham>

<div class="collapse navbar-collapse menu--shylock "  id="bs-example-navbar-collapse-1 myHeader">
    <ul class="nav navbar-nav menu__list">
        <li class="active menu__item menu__item--current"><a class="menu__link" href="@Url.Action("index","Home")">TrangChủ<span class="sr-only">(current)</span></a></li>
        <li class=" menu__item"><a class="menu__link" href="@Url.Action("About","Home")">GiớiThiệu</a></li>
        @foreach(var groupItem in Model.GroupBy(n=>n.LoaiSanPham))
        {
          if(groupItem.Key != null) {
            <li class="dropdown menu__item">
                <a href="#" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">@groupItem.Key.TenLoai <span class="caret"></span></a>
                <ul class="dropdown-menu multi-column columns-3">
                    <div class="agile_inner_drop_nav_info">                       
                        <div class="col-sm-6 multi-gd-img">
                            <ul class="multi-column-dropdown">
                                @foreach (var item in groupItem.GroupBy(n => n.NhaSanXuat))
                                {
                                    if (item.Key != null)
                                    {
                                        <li><a href="@Url.RouteUrl("SanPham",new { @MaLoaiSP=groupItem.Key.MaLoaiSP,@MaNSX=item.Key.MaNSX})" style="font:bold 20px;">@item.Key.TenNSX</a></li>
                                    }
                                }


                            </ul>
                        </div>
                       
                        <div class="clearfix"></div>
                    </div>
                </ul>
            </li>
            }
        }
        <li class=" menu__item"><a class="menu__link" href="@Url.Action("Contact","Home")">LiênHệ</a></li>
    </ul>
</div>
